body {
    padding: 0;
    margin: 0;
    background: url(../pizzeria.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.commonPizzeria{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 40%;
    width: 100%;
    position: absolute;
    background: rgba(195, 236, 81, 0.4);
}

.pizzeria {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.makePizza{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20%;
    width: 45%;
}

.pizza{
    width: 180px;
    height: 30px;
}

.info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20%;
    width: 45%;
}

.btn{
    width: 100px;
}

span{
    font-weight: bolder;
}