.grid-container {
    display: grid;
    size: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px 100px;
    grid-template-areas: "info-1 info-2 info-3 edit"
                        "logs logs logs edit";
}

.div-info-1 {
    grid-area: info-1;
    border: 1px solid black;
}

.div-info-2 {
    grid-area: info-2;
    border: 1px solid black;
}

.div-info-3 {
    grid-area: info-3;
    border: 1px solid black;
}

.div-logs {
    grid-area: logs;
    border: 1px solid black;
}

.div-edit {
    grid-area: edit;
    border: 1px solid black;
}

.but-send{
    visibility: collapse;
}