$fontFamilyAbout: Verdana, Geneva, Tahoma, sans-serif;
$colorH3: orangered;

.about {
    margin-left: 15px;
    font-family:$fontFamilyAbout;
    h3{
        color: $colorH3;
        margin: 15px 0 15px 0;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
