.header h1,
.header h3 {
  text-align: center;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header div {
  margin-top: 100px;
}
